body{
    background: white;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-weight: bold;
    color: #333;
}
.head{
    background-image: url('images/depositphotos_7277759-stock-photo-happy-moments\ -\ Copy\ -\ Copy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100%;
   
    
}
.headtext{
    text-align: center;
    color: #333;
  
}
.leading{
    background-image: url('images/depositphotos_21841313-stock-photo-couple-racing-on-bikes\ -\ Copy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    animation-name: le;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes le{
    0%{left:-305px}
    100%{left: 0;}
}
.ff2{
    animation-name: lel;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes lel{
    0%{right:-305px}
    100%{right: 0;}
}
.lead{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:  whitesmoke;
    
}
.ss1,.ss2{
    margin: 2rem;
}
#jom{
    position: relative;
    color: red;
    animation-name: hea;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    text-shadow: 0px 0px 0 #899CD5, 1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 3px 3px 0 #6F82BB, 4px 4px 0 #677AB3, 5px 5px 0 #5E71AA, 6px 6px 0 #5568A1, 7px 7px 0 #4C5F98, 8px 8px 0 #445790, 9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 13px 13px 0 #182B64, 14px 14px 0 #0F225B, 15px 15px 0 #071A53, 21px 21px 1px rgba(0,0,0,0.5), 0px 0px 20px rgba(0,0,0,.2), 2px 2px 2px rgba(206,89,55,0);
}
@keyframes hea{
    0%{top:-65px}
    100%{top: 100px;}
}
#tes{
    position: absolute;
    margin-top: 8rem;
    animation-name: cos;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 2rem;
    
}
@keyframes cos{
    0%{left:-105px}
    100%{left: 300px;}
}
.bttn,.btn{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 18px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}